img {
  height: 100%;
}
.box .slick-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


.box .slick-slider div {
  height: 150px;
}

.box .swiper-container {
  height: 150px;
}
